/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.*.local
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
/.vagrant
/public/build
/storage/pail
.phpactor.json
auth.json